body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  height: 385px;
  width: 575px;
  background-color: #1b244a;
}

.scorearea {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 120px;
  width: 155px;
  background-color: #080001;
}

h3 {
  color: #ffff;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

.score {
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #f94f6d;
  font-size: 90px;
  padding-top: 20px;
}

.btn {
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #9aabdb;
  width: 30px;
  height: 26px;
  background-color: #1b244a;
  border: 1px solid #9aabdb;
  margin-top: 10px;
}

.controls {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resetBtn {
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #9aabdb;
  width: 160px;
  height: 26px;
  background-color: #1b244a;
  border: 1px solid #9aabdb;
  margin-top: 10px;
}
